@import '~bootstrap/scss/bootstrap';

#header-div {
  margin: 0;
}

.authlinks { 
  display: inline;
}

.link {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}

.contest-name:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.delete-lineup {
  cursor: pointer;
}

.changeLineupLink{
  cursor: pointer;
}
